<section>
  <h2>Data Binding</h2>

  <p>Interpolation</p>
  <p>title: {{ title }}</p>

  <p>Binding unidirectionnel</p>
  <input [value]="title" />

  <p>Binding bidirectionnel</p>
  <input [(ngModel)]="title" />
</section>

<section>
  <h2>Exemple ngIf</h2>

  <button (click)="visible = !visible">Toggle</button>
  <ng-template [ngIf]="visible" [ngIfThen]="visibleTemplate" [ngIfElse]="notVisibleTemplate">
  </ng-template>

  <ng-template #visibleTemplate>
    <p>Visible est True</p>
  </ng-template>
  <ng-template #notVisibleTemplate>
    <p>Visible est False</p>
  </ng-template>
</section>

<section>
  <h2>Exemple ngFor</h2>

  <ul>
    <li *ngFor="let user of users">
      <!-- Dans le cas d'une string avec un / a la place de user.id -->
      <!-- il ne va pas considerer de nouvelle route -->
      <a [routerLink]="['/about', user.id]">{{user.name}}</a>
      <!-- Dans le cas ou l'on connait bien user.id -->
      <a routerLink="/about/{{user.id}}">{{user.name}}</a>
    </li>
  </ul>
</section>